extends ../../layouts/default.pug 

block main
    h1(class="site-title") ROLE
    .card.mb-3 
        .card-header
        .card-body 
            .row 
                .col-8 
                    a(
                        href=`${prefixAdmin}/roles/create`
                        class="add-button"
                    ) + ADD NEW
                .col-4
    table(
        class="post-table"
    )
        thead 
            tr
                th Title
                th Description
                th Action
        tbody
            each item in records 
                tr 
                    td #{item.title}
    
                    td !{item.description}
                    td 
                        a(
                            href=`${prefixAdmin}/posts/detail/${item.id}`
                            class="btn btn-secondary btn-sm" 
                        ) Detail
                        a(
                            href=`${prefixAdmin}/posts/edit/${item.id}`
                            class="btn btn-warning btn-sm ml-1" 
                        ) Edit
                        button(
                            data-id = item.id 
                            delete-button
                            class="btn btn-danger btn-sm ml-1"
                        ) Delete
                