mixin search(keyword)
        form(
          class="form-search"
        )
          input(
            class="search-input"
            type="text"
            name="keyword"
            value=keyword
          )
          button(
            class="search-button"
            type="submit"
          ) SEARCH