extends ../../layouts/default.pug 
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
block main
    h1(class="site-title") POSTS
    +alert-success(3000)
    .card.mb-3 
        .card-header
        .card-body 
            .row 
                .col-8
                    if(role.permission.includes("add"))
                        a(
                            href=`${prefixAdmin}/posts/create`
                            class="add-button"
                        ) + ADD NEW
                .col-3
                    +search(keyword)
                
    table(
        class="post-table"
    )
        thead 
            tr
                th Title
                th Image
                th Description
                th Published Day
                th Author
                th Action
        tbody
            each item in blogPosts 
                tr 
                    td #{item.title}
                    td 
                        img(
                            src=item.image
                            alt=item.title 
                            width="200px"
                            height="auto"
                        )
                    td !{item.description}
                    td #{moment.unix(item.createdBy.createdAt / 1000).format('MMM DD YYYY HH:mm:ss')}
                    td #{item.author}  
                    td 
                        a(
                            href=`${prefixAdmin}/posts/detail/${item.id}`
                            class="btn btn-secondary btn-sm" 
                        ) Detail
                        a(
                            href=`${prefixAdmin}/posts/edit/${item.id}`
                            class="btn btn-warning btn-sm ml-1" 
                        ) Edit
                        if(role.permission.includes("delete"))
                            button(
                                data-id = item.id 
                                delete-button
                                class="btn btn-danger btn-sm ml-1"
                            ) Delete

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/posts/delete`
    )
          
    script(src="/admin/js/script.js")
